$primaryColor: #d5d8e4; 
$secondaryColor: #7c1d47;
$accentColor: #3990c3;
$greyColor: #ccc;

$defaultFont:'Space Mono', monospace;
$lightWeight: 400;
$normalWeight: 400;
$leading: 150%;

$gutter: 10px;